<!DOCTYPE html>
<html>
<head>
  <!-- set `maximum-scale` for some compatibility issues -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://cdn.staticfile.org/animate.css/3.7.0/animate.min.css">
  <script type="text/javascript">

    !function(e,t){var i=t.documentElement,n=e.devicePixelRatio||1;function d(){var e=Math.min(i.clientWidth/10,54);i.style.fontSize=e+"px"}if(d(),e.addEventListener("resize",d),e.addEventListener("pageshow",function(e){e.persisted&&d()}),2<=n){var a=t.createElement("body"),s=t.createElement("div");s.style.border=".5px solid transparent",a.appendChild(s),i.appendChild(a),1===s.offsetHeight?i.classList.add("hairlines"):i.classList.add("no-hairline-support"),i.removeChild(a)}}(window,document)
    // function fixHtmlForRem(){
    //   // console.info("页面尺寸改变");
    //   var oHtml = document.getElementsByTagName("html")[0];
    //   var screenW = document.documentElement.offsetWidth || document.body.offsetWidth;
    //   oHtml.style.fontSize = 100 * screenW / 750 + "px";
    // }
    // fixHtmlForRem();
    // //监听浏览器宽度的改变
    // window.onresize = function(){
    //     fixHtmlForRem();
    // };
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
